.features {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem !important;
  padding-top: 6rem;
  background-color: --var(--ifm-background-color);
}

.features .feature p {
      margin-bottom: 0;
}

.features .feature:not(:last-child) {
      margin-bottom: 3rem;
}

/* @media screen and (min-width: 576px) {
      margin-bottom: 3rem;
      padding-right: 5rem;
    }*/

.features .feature .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1rem;
}

.features .feature .header .icon {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        color: var(--ifm-color-primary);
}

.features .feature .header .title {
        font-size: 1.25rem;
        margin-bottom: 0;
}